<%- include('./layouts/header.ejs') %>

<%- include('./layouts/navbar-inner.ejs') %>
<main id="main">
    <div class="container">
        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>Dashboard</h2>
                    <ol>
                        <li><a href="/">Home</a></li>
                        <li>Dashboard Page</li>
                    </ol>
                </div>
            </div>
        </section><!-- End Breadcrumbs -->
        <div class="container">
            <%if (msg!= null) { %>
            <div class="alert alert-success"> <%- msg %></div>
            <% }else if(error!= null) { %>
            <div class="alert alert-danger"><%- error -%></div>
            <% } %>
            <div class="row">
                <div class="col">
                    <button class="btn btn-lg btn-dark">Messages</button>
                </div>
                <div class="col">
                    <button class="btn btn-lg btn-dark"><a href="/profileview/<%=id%>">Profile</a> </button>
                </div>
                <div class="col">
                    <button class="btn btn-lg btn-dark">Total connects</button>
                </div>
                <div class="col">
                    <a href="/update-profile/<%=id%>" class="btn btn-lg btn-dark">Update Profile</a>
                </div>
            </div>

        </div>
    </div>
</main>
<%- include('./layouts/footer.ejs') %>
