<%- include('./layouts/header.ejs') -%>
<%- include('./layouts/navbar.ejs') -%>
<main id="main">
    <div class="container">
        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h2> Forget Password Form</h2>
                    <ol>
                        <li><a href="/">Home</a></li>
                        <li>Forget Password Page</li>
                    </ol>
                </div>
            </div>
        </section><!-- End Breadcrumbs -->
        <div class="p-1">
            <div class="shadow  p-1  rounded">
                <h1 class="display-5"> <%- title -%></h1>
            </div>

            <form action="/login" method="post" class="shadow  mb-3 bg-body rounded form-control p-5">

                <%if (msg!= null) { %>
                <div class="alert alert-success"> <%- msg %></div>
                <% }  if(error!= null) { %>
                <div class="alert alert-danger"><%- error -%></div>
                <% } %>
                <!-- Email input -->
                <div class="form-outline mb-4"> <label class="form-label" for="form2Example1">Email address</label>
                    <input type="email" id="email" name="email" class="form-control" required />
                </div>   
                <!-- 2 column grid layout for inline styling -->
                <div class="row mb-4">
                    <div class="col">
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
                    </div> 
                   
                    <div class="text-center  shadow  mb-4 bg-body rounded">
                        <p>Not a member? <a href="/signup">Register</a></p>
                    </div>
                </div>


                <div class="row">
                    <div class="col d-flex align-items-center order-1 order-lg-2">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                            class="img-fluid" alt="login vakeelkaro.com image">

                    </div>
                </div>
            </form>

        </div>

    </div>
    </div>
</main>
<%- include('./layouts/footer.ejs') %>
